admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 9901

static_resources:
  listeners:
  - name: s3_proxy
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 9000
    filter_chains:
    - filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: s3_proxy
          codec_type: AUTO
          route_config:
            name: s3_route
            virtual_hosts:
            - name: s3
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: s3_mrap
                  timeout: 30s
          http_filters:
          - name: envoy.filters.http.aws_request_signing
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.aws_request_signing.v3.AwsRequestSigning
              service_name: s3
              signing_algorithm: AWS_SIGV4A
              region: '*'
              use_unsigned_payload: true
              match_excluded_headers:
              - prefix: x-envoy
              - prefix: x-forwarded
              - exact: x-amz-content-sha256
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

  clusters:
  - name: s3_mrap
    type: LOGICAL_DNS
    dns_lookup_family: V4_ONLY
    connect_timeout: 10s
    load_assignment:
      cluster_name: s3_mrap
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: {{ mrap_alias }}.accesspoint.s3-global.amazonaws.com
                port_value: 443
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        sni: {{ mrap_alias }}.accesspoint.s3-global.amazonaws.com
